<h1> Enter your new Album here: </h1>
<%= form_with scope: :album, url: albums_path, local: true do |form| %>
    <p>
        <%= form.label :artist %><br>
        <%= form.text_field :artist %>
    </p>

    <p>
        <%= form.label :title %><br>
        <%= form.text_area :title %>
    </p>

     <p>
        <%= form.label :year %><br>
        <%= form.text_area :year %>
    </p>

     <p>
        <%= form.label :album_art %><br>
        <%= form.text_area :album_art %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
<p><%= link_to 'Index', index_index_path %></p>